__pycache__

*.egg
*.eggs
*.egg-info

*.pyc

.DS_Store

.ipynb_checkpoints
.cache*
.cache

# output files (should not be stored in git)
*.h5
*.hdf5
*.fits
*.fits.gz
*.pdf

# docs
doc/build
*.html
*.doctree
*.inv
